.navbar {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: start;
    align-items: center;
}

.burger {
    color:white;
    margin: 5px;
    font-size: 20pt;
}

.headIcons {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 2;
    margin: 3px;
}














/* #nav {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: start;
    align-items: center;
    background-color: rgb(26, 25, 25);
    padding: 3px;
}

a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 10pt;
    margin: 5px;
} */

